<div>
	<form class="form-inline todo-form-padding todo-form-margin">
 		<div class="form-group">
			<label htmlFor="todoInput">To Do</label>
			<input id="todoInput" class="form-control todo-margin-left todo-margin-right todo-input" type="text" name="text" value=""/>
			<input type="hidden" name="completed" value="false"/>
		</div>
		<button class="btn btn-primary todo-button" onClick="" type="submit">Submit</button>
	</form>
</div>