<%= form_for :todo, url: todos_path, html: {class: "form-inline todo-form-padding todo-form-margin"} do |f| %>
  <div class="form-group">
    <%= f.label :text, "To Do" %>
    <%= f.text_field :text, :class => "rails-form-control todo-margin-left todo-margin-right todo-input" %>
  </div>
  <%= f.submit "Submit", :class => "btn btn-primary todo-button" %>
<% end %>