<div class="container">
	<h1 class="todoHeader">TODO List</h1> 
	<div class="todoContainer">
		<div class="row formRow">
			<div class="col-md-12">
				<%= render "todo_form" %>
			</div>
		</div>
		<div class="row listRow">
			<div class="col-md-12">
				<%= render "todo_list" %>
			</div>
		</div>
		<div class="row filterRow">
			<div class="col-md-12">
				<%= render "todo_filter" %>
			</div>
		</div>
	</div>
</div>