<div class="row rails-box">
	<div class="col-md-12">
		<div class="logo">
			<%= image_tag("rails.png")%>
		</div>
		<h3> Todos </h3>
		<% @todos.each do |todo| %>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label>Text:</label>
				</div>
				<div class="col-md-8">
					<%= todo.text %> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label>Completed</label>
				</div>
				<div class="col-md-8">
					<%= todo.completed %>
				</div>
			</div>
			<hr/>
		<% end %>
	</div>
</div>
<div class = "row react-box">
	<div class="col-md-12">
		<%= react_component('TodoSection', todos: raw(render(template: 'todos/index.json.jbuilder'))) %>
	</div>
</div>