.todo-pad-left {
	padding-left: 5px;
}

.todo-pad-right {
	padding-right: 5px;
}

.todo-margin-left {
	margin-left: 5px;
}

.todo-margin-right {
	margin-right: 5px;
}

.todo-form-margin {
	margin: 10px;
}

.todo-form-padding {
	padding: 5px;
}

.todo-button {
	border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFF;
}

.todo-button-secondary {
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #f60;
  border-color: #993d00;
  color: #FFF;
  font-size: smaller;
}

.todo-input {
	border-radius: 0;
}

.list-row {
  margin: 7px;
}

.todo-item {
  margin: 5px;
  padding: 2px;
}

.rails-box {
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.react-box {
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #069;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.rails-form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.error-header {
  font-family: arial;
  font-size: 14pt;
  color: red;
}

.error-list {
  list-style-type: none;
}
 
.error-item {
  font-weight: bold;
  color: red;
}

.hide-data {
   display:none
}
