.todo-pad-left {
	padding-left: 5px;
}

.todo-pad-right {
	padding-right: 5px;
}

.todo-margin-left {
	margin-left: 5px;
}

.todo-margin-right {
	margin-right: 5px;
}

.todo-form-margin {
	margin: 10px;
}

.todo-form-padding {
	padding: 5px;
}

.todo-button {
	border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
}